# Example application.properties for purchase-service
# Copy to application.properties and set real values via environment variables

spring.application.name=purchase-service
server.port=8083

spring.data.mongodb.uri=${MONGO_URI}

spring.kafka.bootstrap-servers=${KAFKA_BOOTSTRAP_SERVERS}
spring.kafka.producer.value-serializer=org.springframework.kafka.support.serializer.JsonSerializer
spring.kafka.consumer.group-id=purchase-service
spring.kafka.properties.security.protocol=${KAFKA_SECURITY_PROTOCOL}
spring.kafka.properties.sasl.mechanism=${KAFKA_SASL_MECHANISM}
spring.kafka.properties.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="${KAFKA_API_KEY}" password="${KAFKA_API_SECRET}";

spring.data.redis.host=${REDIS_HOST}
spring.data.redis.port=${REDIS_PORT}
spring.data.redis.username=${REDIS_USERNAME}
spring.data.redis.password=${REDIS_PASSWORD}

spring.mail.host=${BREVO_SMTP_HOST}
spring.mail.port=${BREVO_SMTP_PORT}
spring.mail.username=${BREVO_SMTP_USERNAME}
spring.mail.password=${BREVO_SMTP_PASSWORD}
