# Wishlist Service Environment Variables

# Database
WISHLIST_MONGO_URI=mongodb+srv://<username>:<password>@<cluster>/wishlist-db?retryWrites=true&w=majority
MONGO_URI=

# JWT
JWT_SECRET=<minimum_32_char_secret_or_base64_secret>
JWT_EXPIRATION_SECONDS=604800

PORT=8084
